In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('olympic.csv')
df.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [9]:
len(df.City.unique())

22

In [15]:
df[df['Medal'] =='Gold']['Sport'].value_counts()

Aquatics             1421
Athletics            1215
Rowing                890
Gymnastics            820
Fencing               552
Football              503
Hockey                486
Sailing               412
Wrestling             391
Shooting              384
Cycling               371
Basketball            342
Canoe / Kayak         334
Volleyball            332
Handball              321
Equestrian            320
Boxing                239
Weightlifting         200
Archery               126
Judo                  123
Baseball              111
Tennis                 92
Rugby                  78
Softball               60
Modern Pentathlon      60
Badminton              46
Table Tennis           46
Tug of War             36
Taekwondo              32
Lacrosse               28
Canoe                  27
Polo                   22
Golf                   13
Cricket                12
Skating                 9
Triathlon               8
Ice Hockey              8
Water Motorsports       5
Croquet                 4
Rackets                 3
Basque Pelota           2
Jeu de paume            1
Roque                   1
Name: Sport, dtype: int64

In [10]:
df.Sport.value_counts()

Aquatics             4170
Athletics            3638
Rowing               2667
Gymnastics           2307
Fencing              1613
Football             1497
Hockey               1422
Wrestling            1212
Shooting             1150
Sailing              1109
Cycling              1105
Basketball           1012
Canoe / Kayak        1002
Volleyball            994
Handball              973
Equestrian            939
Boxing                894
Weightlifting         593
Judo                  491
Baseball              335
Archery               329
Tennis                296
Rugby                 192
Softball              180
Modern Pentathlon     180
Badminton             144
Table Tennis          144
Taekwondo             112
Tug of War             94
Canoe                  81
Polo                   66
Lacrosse               59
Golf                   30
Skating                27
Ice Hockey             27
Cricket                24
Triathlon              24
Rackets                10
Croquet                 8
Water Motorsports       5
Basque Pelota           4
Jeu de paume            3
Roque                   3
Name: Sport, dtype: int64

In [18]:
df[df.Country == 'India'].sort_values(by = df.Year, ascending= True)

KeyError: 0        1896
1        1896
2        1896
3        1896
4        1896
         ...
31160    2012
31161    2012
31162    2012
31163    2012
31164    2012
Name: Year, Length: 31165, dtype: int64

In [22]:
df.groupby(['Sport'])['Medal'].value_counts()

Sport          Medal
Aquatics       Gold      1421
               Silver    1384
               Bronze    1365
Archery        Gold       126
               Silver     113
                         ...
Weightlifting  Bronze     197
               Silver     196
Wrestling      Bronze     428
               Silver     393
               Gold       391
Name: Medal, Length: 124, dtype: int64

In [23]:
df.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [24]:
df[df.Gender == 'Women'].groupby('Sport')['Medal'].value_counts()

Sport          Medal
Aquatics       Gold      589
               Silver    575
               Bronze    562
Archery        Gold       39
               Silver     37
                        ...
Weightlifting  Gold       28
               Silver     28
Wrestling      Bronze     20
               Gold       12
               Silver     12
Name: Medal, Length: 90, dtype: int64